*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.heading{
    text-align: center;
    background-color: rgba(8, 8, 58, 0.87);
    line-height: 3rem;
    color: white;
}


.input{
    text-align: center;
}
input{
    width: 25rem;
    font-size: 18px;
    padding: 4px;
    border-radius: 6px;
    /* border: none; */
    outline: none;
    box-shadow: 5px 5px 5px  rgb(36, 4, 4);
}

.btn{
    font-size: 18px;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px  rgb(36, 4, 4);
    cursor: pointer;
}

.earthbox{
    text-align: center;
}

.earth{
    width: 8rem;
    text-align: center;
    /* margin-left: 50%; */
    margin-top: 2rem;
}

img{
    margin-top: 2rem;
    width: 30rem;
    border-radius: 8px;
}

p{
    margin-bottom: 1rem;
}

.input_div{
    display: flex;
    justify-content: center; 
}

.container{
    margin-left: 2rem;
    margin-right: 2rem;
}
.displayItem{
    border-bottom: 2px solid grey;
    border-top:2px solid grey ;
    background-color: #83d1cf3b;
    margin-top: 2rem;
    text-align: center;
}

/* .disply-item{
    margin-top: 2rem;
    background-color: rgb(184, 170, 170);
    margin-left: 3rem;
    margin-right: 3rem;
    height: auto;
    border: 1px solid black;
} */